/*---------------------------COLORS---------------------------*/
$whiteColor: #ffffff;
$titleMainColor: #1c4446;
$blackColor: #000000;
$transparentColor: rgba(3, 0, 0, 0.2); //#030000 with 20% opacity
$secondaryColor: #0089bc;
$lightBlueColor: #0081c4;
$transparentBlueColor: #265895;
$semiTransparentBlueColor: rgba(38, 88, 149, 0.6);
$semiTransparentBlueColor: rgba(38, 88, 149, 0.6);
$opacityBlueColor: #9ecaff41;
$navyBlueColor: #18325d;
$midNightBlueColor: #18335b;
$navyBlueTransparencyColor: rgba(24, 50, 93, 0.8); //#18325d with 80% opacity
$oceanBlueColor: #033678;
$darkBlueColor: #0d314d;
$indigoBlueTransparencyColor: rgba(26, 54, 103, 0.2); //#1A3667 with 20% opacity
$nightBlueColor: #1f3d60;
$mistyBlueColor: #f2f3f9;
$petrolBlue: #0e4b8a;
$primaryGreenColor: #479a74;
$cyanColor: #34a1b2;
$blueGreenColor: #1a7686;
$aquaBlueColor: #029daf;
$greenColor: #04bb96;
$aquaGreenColor: #1caca5;
$grayColor: #cccccc;
$whiteGrayColor: #e4e2e2;
$lightGrayColor: #cacacb;
$fineGrayColor: #d9d9d9;
$slightlyGrayColor: #bebfc0;
$slightlyGrayColorOpacity: rgba(190, 191, 192, 0.2);
$simpleGrayColor: #666666;
$mediumGrayColor: #999999;
$darkGrayColor: #262626;
$silverGrayColor: #d7d7d7;
$softGrayColor: #eeecec;
$semiTransparentDarkBlue: #213e6266;
$tabsBlueColor: #0089bc66;
$LightDarkCeruleanColor: rgba(10, 71, 138, 0.6);
$blueOceanColor: #183663;
$semiTransparencyWhiteColor: #ffffff4d;
$semiTransparentDBColor: #1836634d;
$greyColor: #f5f6fa;
$greenButton: #55b6b3;
$secondBlueColor: #274f73;
$placeholderColor: #9e9f9f;
$detailsBackgroundColor: #f2f4f4;
$navyNightBlueColor: rgba(24, 51, 91, 0.9);
$whiteWithOpacity: rgba(255, 255, 255, 0.9);
$softWhiteColor: rgba(255, 255, 255, 0.5);
$semiTransparentWhiteColor: #dff3f1;
$titleBlueColor: #0099cc;
$grayDisabledColor: #797979;
$grayDisabledColorTitle: #363636;
$greyDarkColor: #9f9f9f;
$deepBlue: #162b79;
$cornflowerBlue: #5a8fcc;
$loginGrayClor: #f3f2f2;
$grayRegisterCard: #f5f4f4;
$errorMessageColor: #e04141;
$ProfileIconsBGColor: #f3f4f6;
$ProfileIconsColor: #0273b4;
$dividerColor: #ccebfca6;
$blueMotionDarkColor: #002768;
$blueMotionLightColor: #07478e;
$grayColorWhite: #eeeff0;
$lightOpacityBlueColor: #0a498e;
$lightOpacityGrayColor: #a9a6a6;
$QueenOpacityBlueColor: #4cc0ef;
$greenBlueColor: #18afa6;
$partnershipButtonBgColor: #deefed;
$dividerBgColor: #ccebfca6;
$titleColor: #00a7c0;
$graySmokeColor: #e9eded;
$spanDonationColor: #29cadd;
$panelBgColor: #eeeff0;
$titleServicesColor: #07478e;
$dividerGrayOpacity: rgba(198, 196, 196, 0.2);
$hoverBoxBlue: #09498d;
$purpleColor: #551595;
$pinkColor: #cc4ebf;
$bgColor: #f3f3f3;
$softPinkColor: #ffd1d1;
$spanDonationColor: #29cadd;
$panelBgColor: #eeeff0;
$titleServicesColor: #07478e;
$borderGreyColor: #dedede;
$blueBGBtnColor: #094080;
$greenBGBtnColor: #04bebc;
$inactiveBtnColor: #c5c2c2;
$goodRating: #53c848;
$notbadRating: #ffb464;
$badRating: #ff3e3a;
$blueMotionButton: #093f7f;
$whiteGrayColor: #411b1b;
$forestColor: #1c4246;
//// GHAITH IDENTITY /////////
$primaryColor: rgba(028, 066, 069, 1);
$mainGreenColor: #009767;
$forestLight: #2d6f5a; // or whichever you pick
$EmeraldForestColor: #1b4345;
$herbalColor: #07a787;
