.ghaith--otp-modal-content {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  .ghaith--otp-modal-image-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    span {
      font-family: $fontFamilyArabicLight;
      font-weight: $fontWeightNormal;
      font-size: $font-size-noteworthy;
      color: $primaryColor;
    }
    h3 {
      font-family: $fontFamilyArabicLight;
      font-weight: $fontWeightBold;
      font-size: $font-size-prominent;
      color: $forestColor;
    }
  }
  .ghaith--otp-modal-input {
    padding-top: 1rem;
  }
  .ghaith--otp-modal-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
    span {
      font-family: $fontFamilyArabicLight;
      font-weight: $fontWeightNormal;
      font-size: $font-size-noteworthy;
    }
    .ghaith--otp-modal-text-footer {
      display: flex;
      align-items: center;
      gap: 1rem;
      .ghaith--regenerate-otp-btn {
        background: none;
        border: none;
      }
      .ghaith--regenerate-otp-btn.clickable {
        font-family: $fontFamilyArabicLight;
        font-weight: $fontWeightNormal;
        font-size: $font-size-modest;
        text-decoration: underline !important;
        color: #23ac18;
        cursor: pointer;
      }
      .ghaith--regenerate-otp-btn.disabled {
        font-family: $fontFamilyArabicLight;
        font-weight: $fontWeightNormal;
        font-size: $font-size-modest;
        color: $simpleGrayColor;
        cursor: not-allowed;
      }
    }
  }
}

.ghaith--declaration-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  p {
    font-family: $fontFamilyArabicLight;
    font-weight: $fontWeightNormal;
    font-size: $font-size-modest;
    color: $primaryColor;
    text-align: center;
  }
  .ghaith--declaration-modal-footer {
    display: flex;
    justify-content: center;
    gap: 1.2vw;
  }
  .ghaith--print-btn-container {
    padding: 0.8rem 1rem;
  }
}

/* otp modal error message */
.ant-form-item .ant-form-item-explain-error {
  text-align: right !important;
  font-family: $fontFamilyArabicLight !important;
  font-size: $font-size-fine-plus !important;
  font-weight: $fontWeightNormal !important;
}

.ghaith--verify_otp_button {
  &:hover {
    background-color: #23ac18 !important;
    color: $forestColor !important ;
  }
}
