html {
    -webkit-backface-visibility: hidden !important
}

body {
    margin: 0px;
    -webkit-backface-visibility: hidden !important
}

.subtitlesCont {
    padding-bottom: 3%;
    padding-top: 3%;
    padding-left: 1%;
    padding-right: 1%;
    right: 2%;
    left: 2%;
    background-color: #ffffff8f;
    border: 1px solid black;
    border-radius: 14px;
    position: fixed;
    bottom: 1%;
    z-index: 99999999999;
}

.TranslatedWord {
    font-weight: bold;
    color: red;
}

#Subtitles {
    font-family: 'Tahoma';
    font-size: 5vw;
}

#idleVid {
    z-index: 9999999999 !important;
}



#introVid {
    width: 99.5%;
    height: 99.5%;
    /*object-fit: fill;*/ /* for those who do support it */
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99999;
    -webkit-backface-visibility: hidden !important;
    -webkit-transform: translate3d(0,0,0);
}

html, body {
    height: 100%;
    width: 100%;
}

.Mr-Cont-Div {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 99999999999;
    background-color: #00000091;
    display: none;
}

    .Mr-Cont-Div .content {
        top: 25vh;
        left: 10vw;
        right: 10vw;
        position: fixed;
        z-index: 99999999999;
        background-color: #dfdfdf;
        border-radius: 2vw;
        box-shadow: 4px 3px 8px 1px #969696;
        -webkit-box-shadow: 4px 3px 8px 1px #969696;
        padding: 2vw 2vh 2vw 2vh;
    }

.ModernB {
    box-shadow: inset 0px 1px 0px 0px #91b8b3;
    background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    background-color: #768d87;
    border-radius: 4px;
    border: 1px solid #566963;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 10vh;
    padding: 2px 2px;
    text-decoration: none;
    margin-right: 5px;
    text-shadow: 0px 1px 0px #2b665e;
}

}

.ModernB:hover {
    background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
    background-color: #6c7c7c;
}

.ModernB:active {
    position: relative;
    top: 1px;
}

.cont-foot {
    text-align: center;
    margin-top: 5vh;
}
#unity-canvas {
    background: var(--bgcolor) !important;
}
#introVid {
    background-color: var(--bgcolor) !important;
}
.MrModernRange {
    width: -webkit-fill-available;
}
