/*---------------------------TYPOGRAPHY---------------------------*/
/*-----------------------base=16px--------------------------------*/
$font-size-xtra-fine: 0.75rem; // 12px
$font-size-extra-fine: 0.87rem; // 14px
$font-size-fine-plus: 0.94rem; // 15px
$font-size-fine: 1rem; // 16px
$font-size-small: 1.06rem; // 17px
$font-size-title: 1.1rem; // 17.6px
$font-size-modest: 1.13rem; // 18px
$font-size-moderate: 1.2rem; // 19px
$font-size-noteworthy: 1.25rem; // 20px
$font-size-prominent: 1.38rem; // 22px
$font-size-bold: 1.44rem; // 23px
$font-size-strong: 1.56rem; // 25px
$font-size-remarkable: 1.63rem; // 26px
$font-size-dominant: 1.69rem; // 27px
$font-size-substantial: 1.81rem; // 29px
$font-size-outstanding: 2rem; // 32px
$font-size-striking: 2.25rem; // 36px
$font-size-extra-striking: 2.38rem; // 38px
$font-size-gigantic: 2.44rem; // 39px
$font-size-massive: 2.25rem; // 48px
$font-size-huge: 3rem; // 53px
$font-size-enormous: 2.5rem; // 54px
$font-size-heroic: 3.69rem; // 59px
